@import 'bootstrap/dist/css/bootstrap.min.css';

/* white color #ffffff; */

body {
    background-color: #32324C;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}

.color-white {
    color: #ffffff;
}

.color-gray {
    color: #a3a5a7;
}