@import 'bootstrap/dist/css/bootstrap.min.css';

/* white color #ffffff; */

body {
    background-color: #32324C ;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}

 .bg-primary   {

    background-color: #32324C !important;
}

.color-white {
    color: #ffffff;
    font-family: var(--font-poppins);
}

.color-gray {
    color: #a3a5a7;
    font-family: var(--font-poppins);
}

.h-100 {
    height: 100vh !important;
}

.red-text {
    color: #df5646;
}

.list-style-none {
    list-style: none;
}

.font-32 {
    font-size: 32px;
}

.font-18 {
    font-size: 18px;
}

.red-hover:hover{
    color: #df5646;
}


@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1280px !important;
        margin: 0px 50px;
        padding: 0px 45px;
    }
}