@media screen and (min-width: 768px) and (max-width: 991px) {
    .font-32 {
        font-size: 24px;
    }

    .red-btn {
        width: 130px !important;
        font-size: 12px !important;
    }

    .red-btn:hover::after {
        width: 120px !important;
    }
}