:root {
    --black: #1f1f1f;
    --white: white;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--black) !important;
    color: var(--white) !important;
}

@font-face {
    font-family: 'Agustina-Signature';
    font-style: normal;
    src: url('/static/Agustina-Signature.otf') format('opentype');
}

.fa-brands,
.fa-solid {
    color: red !important;
}

.Typewriter {
    color: green !important;
    font-size: calc(1.375rem + 1.5vw);
}