:root {
    --black: #1f1f1f;
    --white: white;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--black) !important;
    color: var(--white) !important;
}

@font-face {
    font-family: 'Agustina-Signature';
    font-style: normal;
    src: url('../public/fonts/Agustina-Signature.otf') format('opentype');

}

.fa-brands,
.fa-solid {
    color: red !important;
}