body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

@font-face {
    font-family: 'Agustina-Signature';
    font-style: normal;
    src: url('../public/fonts/Agustina-Signature.otf') format('opentype');

}

.fa-brands,
.fa-solid {
    color: red !important;
}