.primary_color {
  color: #40c5fb;
}

.main {
  padding: 0px;
  margin: 0px;
  background-color: black;
  max-width: 1380px;
  margin: auto;
}

.projectContainer {
  max-width: 1054px;
  margin: auto;
  padding: 2.5% 0px;
  /* height: 100vh; */
}

.navigationContainer {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0px 20px;
}

.navigationContainer div h1 {
  color: #ccd6f6;
}

.navigationContainer ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}

.navigationContainer ul li {
  list-style: none;
  margin: 10px;
}

.navigationContainer ul a {
  text-decoration: none;
  color: #ccd6f6;
  font-weight: bold;
}

.navigationContainer div {
  display: flex;
  flex-direction: row;
}

.sm_btn button {
  height: 40px;
  width: 90px;
  background-color: transparent;
  border: 1.7px solid #40c5fb;
  border-radius: 5px;
  color: #40c5fb;
  font-weight: bold;
}

.lg_btn button {
  height: 70px;
  width: 300px;
  font-size: 17px;
  background-color: transparent;
  border: 2px solid #40c5fb;
  border-radius: 5px;
  color: #40c5fb;
  font-weight: bold;
}

.box {
  width: 70%;
  margin-left: 50px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.name {
  color: #ccd6f6;
  font-size: 70px;
  margin: 0px;
  padding: 0px;
}

.scope {
  color: #8892b0;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
}

.discription {
  color: #8892b0;
  font-size: 25px;
}


/* style for about  */


.aboutContainer {
  align-items: center;
}

.aboutBox {
  display: flex;
}

.aboutBox div {
  width: 50%;

}

.aboutBox div p {
  font-size: 20px;

}

.aboutBox div p span {
  color: #40c5fb;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}

.aboutSection img {
  /* width: 200px; */
  /* height: 250px; */
  width: 250px;
  height: 300px;
  border-radius: 5px;
  margin: 20px;
  z-index: 5;
}

.img_border {
  /* width: 200px; */
  width: 150px;
  height: 307px;
  border: 2px solid #40c5fb;
  border-radius: 5px;
  position: relative;
  bottom: 297px;
  left: 30px;
}

.about_Heading {
  color: #ccd6f6;
  margin-bottom: 0px;
}

.about_Heading div {
  border-bottom: 1px solid #ccd6f6;
  width: 300px;
  position: relative;
  top: -15px;
  left: 150px;
}

.skill_Items {
  display: flex;
}

.skill_Items ul {
  padding-left: 10px;
  padding-right: 20px;
}

.skill_Items ul li {
  color: #8892b0;
  margin-bottom: 15px;
}


/* style for work experience  */

.work_Heading {
  color: #ccd6f6;
  margin-bottom: 0px;
}

.work_Heading div {
  border-bottom: 1px solid #ccd6f6;
  width: 300px;
  position: relative;
  top: -15px;
  left: 330px;
}

.work_Box {
  display: flex;
  flex-direction: row;
}

.work_Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}

.work_Section img {
  border-radius: 5px;
  margin: 20px;
}

/* .work_Box div {
  width: 50%;

} */

.work_Box div ul {
  display: flex;
  justify-content: flex-end;
}

.work_Box div ul li {
  color: #8892b0;
  list-style: none;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 500;
}

.work_Box div p {
  font-size: 20px;

}

.work_discription {
  color: #8892b0;
  text-align: right;
}


.work_Box div p span {
  color: #40c5fb;
}

.skill_Items {
  display: flex;
}