/* Navigation Css */
.navigation_container_fluid {
  /* box-shadow: 0px 5px 100px #fff; */
  border-bottom: 1px solid var(--white);
  height: 60px;
}

.navigationContainer {
  height: 60px;
  align-items: center;
}

.navigation_logo_container span {
  color: var(--white);
}

.navigation_logo {
  font-family: 'Agustina-Signature';
  font-size: 25px;
  color: var(--white);
}

/* end of navigation container */

/* header style start */

.headerImge {
  width: 350px;
  height: 450px;
}

.heade_container_child {
  height: calc(100vh - 60px) !important;
}

.header_image_shadow {
  position: absolute;
  height: 450px;
  margin-bottom: 400px;
  right: 210px;
  width: 375px;
  z-index: -10;
  background-color: var(--black) !important;
  box-shadow: 0 0rem 20px -12px rgb(255, 255, 255) !important;

}