/* {

  primary: '#000000',
  secondary: '#40c5fb',
  grey: '#8892b0',
  lightGrey: '#ccd6f6'

} */
.primary_color {
  color: #40c5fb;
}

.main {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.container_fluid {
  max-width: 1940px;
  margin: auto;
}

.container {
  max-width: 90%;
  margin: auto;
}

.navigationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0px 20px;
}

.navigationContainer div h1 {
  color: #ccd6f6;
}

.navigationContainer ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}

.navigationContainer ul li {
  list-style: none;
  margin: 10px;
}

.navigationContainer ul a {
  text-decoration: none;
  color: #ccd6f6;
  font-weight: bold;
}

.navigationContainer div {
  display: flex;
  flex-direction: row;
}

.sm_btn button {
  height: 40px;
  width: 90px;
  background-color: transparent;
  border: 1.7px solid #40c5fb;
  border-radius: 5px;
  color: #40c5fb;
  font-weight: bold;
}

.lg_btn button {
  height: 70px;
  width: 300px;
  font-size: 17px;
  background-color: transparent;
  border: 2px solid #40c5fb;
  border-radius: 5px;
  color: #40c5fb;
  font-weight: bold;
}

.homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 70%;
  margin-left: 50px;
}

.name {
  color: #ccd6f6;
  font-size: 70px;
  margin: 0px;
  padding: 0px;
}

.scope {
  color: #8892b0;
  font-size: 70px;
  margin: 0px;
  padding: 0px;
}

.discription {
  color: #8892b0;
  font-size: 30px;
}